body {
    background-color: #1a1f24;
    font-family: 'Space Mono', monospace;
    color: white;
    text-align: center;
    
}

.keys {
    display: flex;
    padding: 10px;
}

.key {
    padding: 10px;
    margin: 10px;
    transition: all 0.07s;
}

.playing {
    transform: scale(1.1);
}

h1 {
    margin-top: 70px;
}

.facts-container {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.facts-container h3 {
    padding: 10px;
}