html {
    height:100%;
    box-sizing: border-box;
    }

body {
    background-color: #1a1f24;
    font-family: 'Space Mono', monospace;
    color: white;
    text-align: center;
    min-height: 100%;
}

.keys {
    display: flex;
    padding: 10px;
}

.key {
    padding: 10px;
    margin: 10px;
    transition: all 0.07s;
}

.playing {
    transform: scale(1.1);
}

h1 {
    margin-top: 70px;
}



#visualizer {
    margin: 0;
    overflow: hidden;
    bottom: -20px;
    position: absolute; 
    min-width: 100%;   
}

.keys {
    margin-top: 150px;
}

.key {
    margin: 0 auto;
}

.facts-container {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.facts-container h3 {
    padding: 10px;
}


.creators {
    margin-top: 50px;
    padding: 5px;
}

.creator-name {
    padding: 10px;
}

.creator-bio {
    padding: 20px;
}
